@import "../../styles/vars.module.scss";
@value accent-color from '../../styles/vars.module.scss';
@value tablet from '../../styles/vars.module.scss';


.Button {
  @include flex-center;
  @include transition(color);
  cursor: pointer;
  padding: 20px 0;
  fill: currentColor;
  background-color: transparent;
  color: inherit;
  padding: 10px;
  outline: none!important;
  border-color: transparent;
  &:hover,
  &:focus {
    color: accent-color;
  }
}

.MenuIcon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: tablet) {
  .Button {
    display: none;
  }
}
