@import "../../styles/vars.module.scss";
@value tablet from '../../styles/vars.module.scss';
@value white-color from '../../styles/vars.module.scss';
@value accent-color from '../../styles/vars.module.scss';

.Backdrop {
 

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  @include flex-center;
  overflow: auto;
}

.Button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white-color;
  background-color: transparent;
  padding: 10px;
  outline: none !important;
  border-color: transparent;
}

.Cancel {
  fill: currentColor;
  @include transition(color);
  width: 32px;
  height: 32px;
  &:hover,
  &:focus {
    color: accent-color;
  }
}

@media screen and (min-width: tablet) {
  .Backdrop {
    display: none;
  }
}
